# copy this file to the same folder as docker-compose and rename to .env
# amend the details below to suit your enviroment

# the path to the folder that contains your workspace
FILES_PATH = ""

# the root pass word for your mysql instance
DB_ROOT_PW = ""

 # the below must match those that are stated in your settings.php file
DRUPAL_DB = ""
DRUPAL_USER = ""
DRUPAL_PW = ""


# Metabase database credentials
MB_DB_DBNAME = ""
MB_DB_USER = ""
MB_DB_PASS = ""
MB_DB_HOST = "postgres"

# list of site urls, must be comma seperated and within `` marks
# e.g. SITES = "`lamrt.org.uk`, `www.lamrt.org.uk`" 
SITES = "``"
# URL of the Metabase instance
REPORTS = "````"